body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(./img/background.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 80%;
  border-radius: 15px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  background-color: #ffeae37a;
}
.avt {
  text-align: center;
  padding: 50px 0 0 0;
}
h3 {
  font-size: 18px;
  margin-top: 30px;
}

.avt_image {
  width: 120px;
  height: 120px;
  max-width: 50%;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 0 0 10px #ff8a8a;
  transition: box-shadow 0.3s ease-in-out;
}
.avt_image:hover {
  box-shadow: 0 0 20px #789dbc;
}

.social_links a {
  display: block;
  margin: 5px 10px;
  padding: 10px 80px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #ff8a8a;
  border-radius: 10px;
  box-shadow: 0 0 10px#789DBC;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.social_links a:hover {
  background-color: #ff6e6e;
  transform: scale(1.05);
  box-shadow: 0 0 20px #789dbc;
}

.social_links ul {
  list-style: none;
  padding: 50px 100px;
  justify-content: center;
}

.social_links li {
  padding: 5px;
}

.social_links i {
  margin-right: 10px;
}

.social_links span {
  text-align: center;
}

@media screen and (max-width: 300px) {
  .social_links ul {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  body {
    display: block;
    padding: 20px 10px;
  }

  .container {
    width: 90%;
    max-width: 350px;
    margin: 20px auto;
    padding: 20px 10px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }

  .avt_image {
    width: 100px;
    height: 100px;
  }

  h3 {
    font-size: 16px;
    margin-top: 15px;
  }

  .social_links ul {
    padding: 20px;
  }

  .social_links a {
    max-width: 260px;
    margin: 10px auto;
    font-size: 14px;
  }
}
